---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?q=isbn:9781451648546
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"IUREzboS_XZycecz4xfru1ipYfo/a4FRILdkJg7afkYgg9B_w-oiZ6g"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1,
         "items": [
          {
           "kind": "books#volume",
           "id": "8U2oAAAAQBAJ",
           "etag": "eDhSj/oiBlk",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/8U2oAAAAQBAJ",
           "volumeInfo": {
            "title": "Steve Jobs",
            "authors": [
             "Walter Isaacson"
            ],
            "publisher": "Simon and Schuster",
            "publishedDate": "2011",
            "description": "Draws on more than forty interviews with Steve Jobs, as well as interviews with family members, friends, competitors, and colleagues to offer a look at the co-founder and leading creative force behind the Apple computer company.",
            "industryIdentifiers": [
             {
              "type": "ISBN_13",
              "identifier": "9781451648546"
             },
             {
              "type": "ISBN_10",
              "identifier": "1451648545"
             }
            ],
            "readingModes": {
             "text": false,
             "image": false
            },
            "pageCount": 630,
            "printType": "BOOK",
            "categories": [
             "Biography & Autobiography"
            ],
            "averageRating": 4.0,
            "ratingsCount": 3906,
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "0.3.0.0.preview.0",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=8U2oAAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=8U2oAAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=8U2oAAAAQBAJ&printsec=frontcover&dq=isbn:9781451648546&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=8U2oAAAAQBAJ&dq=isbn:9781451648546&hl=&source=gbs_api",
            "canonicalVolumeLink": "https://books.google.com/books/about/Steve_Jobs.html?hl=&id=8U2oAAAAQBAJ"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "US",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED_FOR_ACCESSIBILITY",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://play.google.com/books/reader?id=8U2oAAAAQBAJ&hl=&printsec=frontcover&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "Draws on more than forty interviews with Steve Jobs, as well as interviews with family members, friends, competitors, and colleagues to offer a look at the co-founder and leading creative force behind the Apple computer company."
           }
          }
         ]
        }
  recorded_at: Sat, 27 Apr 2019 16:40:22 GMT
recorded_with: VCR 4.0.0
