---
http_interactions:
- request:
    method: get
    uri: 'https://www.googleapis.com/books/v1/volumes?q=isbn:'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"IUREzboS_XZycecz4xfru1ipYfo/V2aq65U4iVV9xsoX2WDCFs3MsAA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 4760,
         "items": [
          {
           "kind": "books#volume",
           "id": "t5rgAAAAMAAJ",
           "etag": "9SSGTYZwq6k",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/t5rgAAAAMAAJ",
           "volumeInfo": {
            "title": "ISBN Review",
            "authors": [
             "International ISBN Agency"
            ],
            "publishedDate": "1998",
            "industryIdentifiers": [
             {
              "type": "OTHER",
              "identifier": "UOM:39015081566500"
             }
            ],
            "readingModes": {
             "text": false,
             "image": false
            },
            "printType": "BOOK",
            "categories": [
             "International Standard Book Numbers"
            ],
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "preview-1.0.0",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com/books/content?id=t5rgAAAAMAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
             "thumbnail": "http://books.google.com/books/content?id=t5rgAAAAMAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=t5rgAAAAMAAJ&q=isbn:&dq=isbn:&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=t5rgAAAAMAAJ&dq=isbn:&hl=&source=gbs_api",
            "canonicalVolumeLink": "https://books.google.com/books/about/ISBN_Review.html?hl=&id=t5rgAAAAMAAJ"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "US",
            "viewability": "NO_PAGES",
            "embeddable": false,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://play.google.com/books/reader?id=t5rgAAAAMAAJ&hl=&printsec=frontcover&source=gbs_api",
            "accessViewStatus": "NONE",
            "quoteSharingAllowed": false
           }
          },
          {
           "kind": "books#volume",
           "id": "D9VEIQAACAAJ",
           "etag": "Hb39d84SHVI",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/D9VEIQAACAAJ",
           "volumeInfo": {
            "title": "Paraxial Light Beams with Angular Momentum",
            "authors": [
             "A. Bekshaev",
             "Marat Samuilovich Soskin",
             "M. Vasnetsov"
            ],
            "publisher": "Nova Science Pub Incorporated",
            "publishedDate": "2008",
            "description": "Fundamental and applied concepts concerning the ability of light beams to carry a certain mechanical angular momentum (AM) with respect to the propagation axis are reviewed and discussed in this book. In paraxial beams, the total beam AM can be represented as a sum of the spin (SAM) and orbital (OAM) angular momentums. SAM is an attribute of beams with elliptic (circular) polarisation and is related to the spin of photons. OAM is conditioned by the macroscopic transverse energy circulation and[...]
