<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to StuffCatalog!</h1>
    <p class="lead">Pardon the mess, we're working hard so you don't have to.</p>
    <p class="text-muted">You'll still have to work of course, just not that hard.</p>
  </div>
</div>
