<li class="nav-item">
  <%= link_to 'Sign in', '#',
    class: 'btn btn-outline-light mr-lg-2 my-2 my-lg-0' %>
</li>
<li class="nav-item">
  <%= link_to 'Sign up', '#',
    class: 'btn btn-primary ml-lg-2 my-2 my-lg-0' %>
</li>
