<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title mb-1 h5"><%= @item.title %></h2>
    <p class="small text-muted"><%= @item.isbn %></p>
    <p class="card-text"><%= number_to_currency(@item.value) %></p>
  </div>
</div>
