@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap';

// Font-Aweseome imports
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.alert {
  border-radius: 0;
  margin-bottom: 0;
}

.list-inline-vbar {
  .list-inline-item {
    margin-right: 0;

    + .list-inline-item {
      &::before {
        content: "\2503";
        margin: 0 0.25em;
      }
    }
  }
}

.list-inline-dot {
  .list-inline-item {
    margin-right: 0;

    + .list-inline-item {
      &::before {
        content: "\2022";
        margin: 0 0.25em;
      }
    }
  }
}

.mw-50 {
  @include media-breakpoint-up(md) {
    margin: 0 auto;
    max-width: 50%;
  }
}

.card-footer-btn-group {
  .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
